<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.game.board.Mapper.EventMapper" />



<select id="firstEvent"
	resultType="co.yedam.game.event.event.control.EventVO">
	SELECT * FROM event_list where event_num = 1;
</select>


public void eventLoad();//이벤트 불러오기








</mapper>