<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.game.board.Mapper.BoardMapper">







	<insert id="saveRecord"
		parameterType="co.yedam.game.board.control.PlayerVO">
		insert into player
		values ((select max(player_num) from player) +1), #{playerName}, #{playerRecord})

	</insert>

	

	<!-- public void saveRecord(); //종료 후 기록 저장 public void RecordView(); -->






</mapper>