<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.game.board.Mapper.BoardMapper">







<!-- eventLoad();//이벤트 불러오기
	
	public void levelLoad();//레벨 불러오기
	
	public void saveRecord(); //종료 후 기록 저장
	
	public void RecordView();
	
	 -->
	
	
	
	
		
</mapper>