<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.game.event.mapper.EventMapper">



	<select id="lineEvent"
		resultType="co.yedam.game.event.control.EventVO">
		select *
		from(SELECT *
			FROM events
			where event_turn = #{eventTurn}
			order by DBMS_RANDOM.RANDOM())
 		<![CDATA[where rownum <= 3]]>

	</select>

	<!-- public void eventLoad();//이벤트 불러오기 -->








</mapper>